body{
     background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,  url(img/header.jpg);
     background-size:cover;
    background-position: center;
    height: 100vh;
    margin: 20px;
    
    
    }
    .text_box{
    	position: absolute;
     transform :translate(40% , 80%);
}
 nav li a{
	color : white;
}

.menu_bar li:hover{
    border-radius: 15%;
    background-color: #79D107;
}

.text_box, .btn a{
	color: white;
}
.btn_hungry, .btn_hungry:visited{
	border-radius: 20%;
	background-color:   #79D107;
    font-size: 15px;
}
.btn_hungry:hover{
	
	background-color:  #e67e22;
}
